# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.venv/
env/
venv/
.venv
temp/
mmd/

# Environment
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Testing & Linting
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage